html,
body {
    height: 100%;
    background-color: #F1FAFB;
}

.cust-login-flex {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.cust-login-container {
    width: 30%;
    height: auto;
    text-align: center;
    padding: 10px;
}
.cust-login-logo{
    display: block;
    margin: auto;
    width: 100%;
    margin-bottom: 30px;
}

.cust-login-element {
    display: inline-block;
    margin: 50px;
}

.modal .modal-dialog {
    width: 30%;
    padding-top: 9%;
}

.cust-margin-top{
    margin-top: 5px;
}
.cust-grey-text{
    color: lightgray;
    font-size: 75%;
}